.weekDay{
    padding: 20px 20px;
    width: 28%;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #E0E3ED;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    color: #8290AC;
}

.weekDayDate, .weekDayForecast{
    font-size: 20px;
}

.weekDayIconDegrees{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.weekDayIcon{
    font-size: 60px;
    color: #8290AC;
}

.weekDayDegrees{
    display: flex;
    flex-direction: column;
}

.weekDayMaxTemp{
    font-size: 40px;
    font-weight: 10;
    color: #7B8AA7;
}

.weekDayMinTemp{
    font-size: 32px;
    font-weight: 100;
    color: #B6BFD1;
}

@media screen and (max-width: 1100px){

    .weekDay{
        padding: 30px 0px;
        gap: 30px;
    }

    .weekDayMaxTemp{
        font-size: 32px;
    }

    .weekDayMinTemp{
        font-size: 22px;
    }
}

@media screen and (max-width: 700px){

    .weekDay{
        width: 31%;
    }

    .weekDayIcon{
        font-size: 40px;
    }

    .weekDayMaxTemp{
        font-size: 24px;
    }

    .weekDayMinTemp{
        font-size: 16px;
    }

    .weekDayForecast{
        font-size: 14px;
    }
}


@media screen and (max-width: 480px){
    .weekDay{
        padding: 10px 20px;
        width: 80%;
        height: 33%;
        gap: 10px;
    }

    .weekDayIconDegrees{
        gap: 20px;
    }

    .weekDay .weekDayDate, .weekDayForecast{
        font-size: 20px;
    }

    .weekDayIcon{
        font-size: 70px;
    }

    .weekDayDegrees .weekDayMaxTemp{
        font-size: 32px;
    }

    .weekDayDegrees .weekDayMinTemp{
        font-size: 26px;
    }
}