.nav {
    width: 100%;
    height: 8%;
    padding: 5px 50px 0 50px;
}

.logo {
    width: 100px;
    text-align: right;
    color: white;
}

.logoHeading {
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 20px;
}

.logoParagraph {
    font-weight: bold;
    font-size: 20px;
    text-align: right;
}

@media screen and (max-width: 480px) {
    .nav {
        height: 3%;
        display: flex;
        justify-content: center;
    }

    .logo{
        display: flex;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        gap: 5px;
    }

    .logoHeading{
        font-size: 3vw;
    }

    .logoParagraph{
        font-size: 3vw;
    }
}