.parameter {
    width: 30%;
    background-color: #dddfeb;
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.parameterValue {
    color: #516086;
    font-size: 18px;
}

.parameterIcon {
    font-size: 46px;
    color: #D88BCD;
}

.parameterName {
    color: #9fa9be;
    font-size: 20px;
}

@media screen and (max-width: 1200px){
    .parameter{
        padding: 5px 10px;;
    }

    .parameterValue {
        font-size: 16px;
    }
    
    .parameterIcon {
        font-size: 40px;
    }
    
    .parameterName {
        font-size: 18px;
    }
}

@media screen and (max-width: 860px){
    .parameter{
        padding: 5px 10px;;
    }

    
    
}

@media screen and (max-width: 480px){
    .parameter{
        gap: 0.8vh;
        width: 28%;
    }

    .parameterValue{
        font-size: 3vw;
    }

    .parameterIcon{
        font-size: 5vw;
    }

    .parameterName{
        font-size: 3vw;
    }
}