.parameter {
    width: 30%;
    /* height: 47%; */
    background-color: #dddfeb;
    border-radius: 10px;
    border: 1px solid white;
    padding: 0.5vh 1.5vw;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8vh;
}

.parameterValue {
    color: #516086;
    font-size: 14px;
    /* margin-bottom: 10px; */
}

.parameterIcon {
    font-size: 3vw;
    color: #D88BCD;
    /* margin-bottom: 10px; */
}

.parameterName {
    color: #9fa9be;
    font-size: 1.2vw;
}

@media screen and (max-width: 860px){
    .parameter{
        padding: 5px 10px;;
    }
}

@media screen and (max-width: 480px){
    .parameter{
        gap: 0.8vh;
        width: 28%;
    }

    .parameterValue{
        font-size: 3vw;
    }

    .parameterIcon{
        font-size: 5vw;
    }

    .parameterName{
        font-size: 3vw;
    }
}